@model EvenTransit.UI.Models.Events.EventViewModel
@{
    ViewData["Title"] = Model.Name;
    var index = 1;
}

<div class="container pb-2 mb-2 border-bottom">
    <div class="row">
        <div class="col">
            <h2 class="mb-0">
                <code>@Model.Name</code> Services
            </h2>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-success float-end" data-bs-toggle="modal" onclick="clearNewProcessModal()" data-bs-target="#newServiceModal">
                <i class="fa fa-plus-circle"></i> Add New Service
            </button>
        </div>
    </div>
</div>
<table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
        <th class="index-column">#</th>
        <th>Service Name</th>
        <th>Url</th>
        <th>Timeout <i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Seconds"></i></th>
        <th>Headers</th>
        <th>Actions</th>
    </tr>
    </thead>
    @if (Model.Services != null)
    {
        <tbody>
        @foreach (var service in Model.Services)
        {
            <tr>

                <td>@index</td>
                <td>@service.Name</td>
                <td>
                    <kbd>@service.Url</kbd>
                </td>
                @{
                    if (service.Timeout == 0)
                    {
                        <td class="text-center"></td>
                    }
                    else
                    {
                        <td class="text-center">@service.Timeout</td>
                    }
                }
                <td>
                    @if (service.Headers != null)
                    {
                        foreach (var header in service.Headers)
                        {
                            <code class="d-block">@header.Key - @header.Value</code>
                        }
                    }
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-warning" title="Edit" onclick="editService('@Model.Id', '@service.Name')">
                        <i class="fa fa-edit fa-fw"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" title="Delete" onclick="deleteService('@Model.Id', '@service.Name')">
                        <i class="fa fa-times fa-fw"></i>
                    </button>
                </td>
            </tr>

            index++;
        }
        </tbody>
    }
</table>

@await Html.PartialAsync("Partials/_SaveService")

@section Scripts
{
    <script src="~/js/event/detail/service.js" asp-append-version="true"></script>
}