@model List<EvenTransit.UI.Models.Events.EventListViewModel>
@{
    ViewData["Title"] = "Events";
    var index = 1;
}

<div class="container pb-2 mb-2 border-bottom">
    <div class="row">
        <div class="col">
            <h2 class="mb-0">
                Events
            </h2>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-success float-end" data-bs-toggle="modal" data-bs-target="#newEventModal">
                <i class="fa fa-plus-circle"></i> Add New Event
            </button>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-4">
        <label for="EventName" class="form-label">Event Name</label>
        <input type="text" class="form-control" id="EventName" name="EventName" />
    </div>
    <div class="col-4">
        <label for="Service" class="form-label">Service Name or Service Url</label>
        <input type="text" class="form-control" id="Service" name="Service" />
    </div>
</div>

<table class="table table-hover table-bordered table-striped" id="events">
    <thead>
    <tr>
        <th class="text-center index-column">#</th>
        <th>Event Name</th>
        <th>Service Count</th>
        <th>Succeeded Jobs</th>
        <th>Failed Jobs</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="events-body">
    @foreach (var eventDto in Model)
    {
        <tr id="@eventDto.Id">
            <input type="hidden" data-url="@string.Join(',', eventDto.Services.Select(p=> p.Url))"/>
            <input type="hidden" data-servicename="@string.Join(',', eventDto.Services.Select(p=> p.Name))"/>
            <input type="hidden" data-eventname="@eventDto.Name"/>
            <td class="text-center">@index</td>
            <td class="col-2">@eventDto.Name</td>
            <td class="col-2">
                <span class="badge rounded-pill bg-primary">@eventDto.ServiceCount</span>
            </td>
            <td class="col-2">
                <span class="badge rounded-pill bg-success">@eventDto.SuccessCount</span>
            </td>
            <td class="col-2">
                <span class="badge rounded-pill bg-danger">@eventDto.FailCount</span>
            </td>
            <td class="col-1 text-center">
                <a class="btn btn-sm btn-warning" title="Edit" href="@Url.Action("Detail", "Events", new { id = eventDto.Id })">
                    <i class="fa fa-edit fa-fw"></i>
                </a>
                <button type="button" class="btn btn-sm btn-danger delete-event" title="Delete" data-id="@eventDto.Id">
                    <i class="fa fa-times fa-fw"></i>
                </button>
            </td>
        </tr>

        index++;
    }
    </tbody>
</table>

@await Html.PartialAsync("Partials/_SaveEvent")

@section Scripts
{
    <script src="~/js/event/index.js" asp-append-version="true"></script>
}